# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
#  laravel-tests:
#
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#
#      - name: Setup PHP
#        uses: shivammathur/setup-php@v2
#        with:
#          php-version: '8.0'
#
#      - name: Generate database file
#        run: touch database/database.sqlite
#
#      - name: Setup project
#        run: make setup
#
#      - name: Run tests
#        run: make test


  try-postgres:

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12.6
        env:
          DB_CONNECTION: pgsql
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: analysator
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'

      - name: Setup project
        run: make setup

#      - name: Execute tests with PHPUnit
#        run: make test
